{% extends "index.html" %}
{% block body %}
<center>
<div id="about">
<h1>About the Devs:</h1>
 <br>
<div id="marvin"><img src="static/img/21043721.png" width="300">
<br>
Marvin Martinez is just another nerd in love with computers.<br>
Professional Overwatch player.
<div class="footer-social-icons">
    Find <b>Marvin</b> on
    <ul class="social-icons">
        <li><a href="https://github.com/MarvinM579" target="_blank" class="social-icon"> <i class="fa fa-github"></i></a></li>
        <!-- <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li> -->
        <li><a href="https://twitter.com/RocketMan225" target="_blank" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <!-- <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li> -->
        <li><a href="https://www.linkedin.com/in/marvin-martinez
" target="_blank" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>

</div>
<div id="nedra">
<img src="https://nedralovesme.files.wordpress.com/2016/12/e9c72-1172949_464381087097640_285817044_n.png" width="300">
<br>
Nedra Mevoli is a tiny person who has chipped fingernail polish. 
<br> Something something Mr Robot.
<div class="footer-social-icons">
    Find <b>Nedra</b> on
    <ul class="social-icons">
        <li><a href="http://play.spotify.com/user/nedramcbeadra" target="_blank" class="social-icon"> <i class="fa fa-spotify"></i></a></li>
        <li><a href="http://youtube.com/user/nedramcbeadra" target="_blank" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="https://github.com/nedramevoli" target="_blank" class="social-icon"> <i class="fa fa-github"></i></a></li>
        <li><a href="https://nedralovesme.wordpress.com" target="_blank" class="social-icon"> <i class="fa fa-wordpress"></i></a></li>
    </ul>
</div></div></div>
</center>
</div>
{% endblock %}
