<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
{% extends "index.html" %}
{% block body %}

<div id="game">
    <div id="image">
        {% if session['name'] %}
        {% for image in img %}
        <img class="blur" src="{{image.url}}" alt="" id="img">
    </div>
        {% if s == 1 %}
        <p>Is this {{image.fake}}?</p>
            <div id="options"> <ul>
                        <li><div class="button-row"><div><a title="Yes" href="#" id="btnNo"></a></div>
                      </div></li>
                      <li><div class="button-row">
                        <div><a title="No" href="#" id="btnYes"></a></div></li></ul>
                </div>

        <p id="correct" class="right hide">CORRECT</p>
        <p id="wrong" class="wrong hide">WRONG</p>

        {% if session['missed'] == 2 %}
        <button class="button-row hide" name="button" id="btnNext" onclick="window.location.href='/game_over'">Continue</button>
        {% elif session['missed'] < 2 %}
        <button class="button-row hide" name="button" id="btnNext" onclick="window.location.href='/play'">Continue</button>
        {% endif %}
        {% elif s == 2 %}
        <p>Is this {{image.correct}}?</p>
                    <div id="options"> <ul>
                        <li><div class="button-row"><div><a title="Yes" href="#" id="btnYes"></a></div>
                      </div></li>
                      <li><div class="button-row">
                        <div><a title="No" href="#" id="btnNo"></a></div></li></ul>
                      </div>
        <p id="correct" class="right hide">CORRECT</p>
        <p id="wrong" class="wrong hide">WRONG</p>

        {% if session['missed'] == 3 %}
        <button class="button-row hide" name="button" id="btnNext" onclick="window.location.href='/game_over'">Continue</button>
        {% elif session['missed'] < 2 %}
        <button class="button-row hide" name="button" id="btnNext" onclick="window.location.href='/play'">Continue</button>
        {% endif %}
        {% endif %}
        {% endfor %}
        <div id="point"><h1>{{session['points']}} points</h1></div>
        {% endif %}
</div>
</div>

<!-- <script type="text/javascript">
$(document).ready(function() {
$("#btnNext").hide();
$(".right").hide();
$(".wrong").hide();
});

$("#btnYes").click(function() {
    $.getJSON("/selection", {
        "action": "Yes"
    }, function(data) {
        console.log(data.success)
        console.log(data.points)
    });
    $("#btnYes").hide();
    $("#btnNo").hide();
    $("#btnNext").show();
    $(".right").show();
        $("#img").removeClass("blur");
        $("#img").addClass("unblur");
        $("#options").remove();
        console.log("changed");
});


$("#btnNo").click(function() {
    $.getJSON("/selection", {
        "action": "No"
    }, function(data) {
        console.log(data.success)
        console.log(data.points)
    });

    $("#btnYes").hide();
    $("#btnNo").hide();
    $("#btnNext").show();
    $(".wrong").show();
        $("#img").removeClass("blur");
        $("#img").addClass("unblur");
        $("#options").remove();
        console.log("changed");
});



</script> -->
{% endblock %}
<!-- <form class="" action="/end_game" method="post"> -->
<a class="button-row" title="End Game" action="/end_game" method="post"></button>
<!-- </form> -->
