{% extends "index.html" %}
{% block body %}
<center>
<div id="game">
	<div id="image">
<!-- 	<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
	  <filter id="blur">
	    <feGaussianBlur stdDeviation="8" /> -->
	    <img id="img" src="https://i.imgur.com/y3ovbmw.jpg" class="blur">
<!-- 	  	</filter>
		</svg> -->
	</div>

 <br>
<h2>Is this a</h2> 
 <br>blah blah blah blah?
 <br>
 <div id="options"> <ul>
    <li><div class="button-row"><div><a title="Yes" href="#" id="btnYes"></a></div>
  </div></li>
  <li><div class="button-row">
    <div><a title="No" href="#" id="btnNo"></a></div></li></ul>
  </div>
</div>
{% endblock %}
</div>